<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Octabloom blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Octabloom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="row content-section">
<aside class="d-flex flex-column col-md-3">
  <app-sidbar-component></app-sidbar-component>
</aside>
<main class="col-md-9">
  <router-outlet></router-outlet>
</main>
</section>
